.quiz-question-text {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    user-select: none;
}

input[type="radio"]:focus {
    outline: none;
}

input[type="radio"] {
    margin: 1rem;
    cursor: pointer;
    height: 16px;
    width: 16px;
    user-select: none;
}

label {
    user-select: none;
}

.quiz-question-container {
    background-color: black;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    border: solid 1px rgba(0,0,0,.5);
    opacity: .9;
    color: rgb(218, 218, 218);
    width: 90%;
}