@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Raleway&display=swap');

.rap-quiz-container {
    width: 50%;
    box-sizing: border-box;
    padding: 2rem;
    overflow-y: auto;
    position: relative;
}

.rap-quiz-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    background-color: black;
    color: rgb(218, 218, 218);
    opacity: .9;
    width: 89%;
    padding: .5rem;
    border-radius: 5px;
    user-select: none;
}

.rap-quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}